  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  /* scroll bar */
  .form-box::-webkit-scrollbar {
    display: none;
  }

  /* blog page start*/
  .main-page {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .blog-page {
    padding: 0 10vw;
  }

  /* blog page end*/

  /* blog header start */
  .blog-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(183, 183, 183);
  }

  .blog-header p {
    font-size: 1.2rem;
  }

  .blog-header h1 {
    font-size: 2.5rem;
    color: rgba(53, 59, 65, 255);
    font-weight: bold;
  }

  .blog-header div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
  }

  .blog-header div:last-child button {
    background-color: transparent;
    border: 1px solid rgb(80, 80, 80);
    padding: 0.4rem;
    font-size: 0.9rem;
    border-radius: 5px;
  }

  .blog-header div:last-child span {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* blog header end */

  /* blog navbar start */
  .blog-navbar {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .blog-navbar a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-size: 1.2rem;
  }

  /* blog navbar end */

  /* blog hero section start */
  .hero-section {
    background-color: rgba(52, 58, 64, 255);
    color: white;
    width: 100%;
    height: 400px;
    padding: 1vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 30px;
  }

  .hero-section h1 {
    font-size: 3.7rem;
    font-style: italic;
  }

  .hero-section p {
    font-size: 1.1rem;
    line-height: 2rem;
    font-family: sans-serif;
  }

  .hero-section h3 {
    font-style: 1rem;
    font-family: sans-serif;
  }

  /* blog hero section end */

  /* blog feature start */
  .blog-feature {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .blog-feature .blog-feature-box {
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 48%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .blog-feature-content {
    width: 50%;
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
  }

  .blog-feature-content h2 {
    font-size: 2.2rem;
  }

  .blog-feature-content p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .blog-feature-content h3 {
    color: rgba(24, 133, 255, 255);
  }

  .blog-feature .blog-feature-thumbnail {
    background-color: rgba(85, 89, 92, 255);
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  /* blog feature end */

  /* blog posts start */
  .post-section {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .post-section-box {
    width: 65%;
    margin-bottom: 50px;
    flex-grow: 1;
  }

  .post-section-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .post-section-list h1 {
    font-size: 2.7rem;
  }

  .post-section-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .post-section-list .post-content-head p {
    color: gray;
  }

  .post-content-head {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .post-content-body {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .post-content-body p,
  .post-content-body li {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }

  .post-content-body ol,
  .post-content-body ul {
    padding-left: 3rem;
  }

  .post-section-buttons {
    display: flex;
    gap: 0.3rem;
  }

  .post-section-buttons button {
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
  }

  .post-section-buttons button:first-child {
    color: rgba(98, 172, 254, 255);
    border: 1px solid rgba(98, 172, 254, 255);
  }

  .post-section-buttons button:last-child {
    color: gray;
    border: 1px solid gray;
  }

  .post-section-feature {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    margin-bottom: 20px;
    gap: 2rem;
    flex-grow: 1;
  }

  .post-section-feautre-about {
    background-color: rgba(238, 238, 238, 1);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .post-section-feautre-about p {
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  /* blog posts end */

  /* blog footer end */
  .blog-footer {
    background-color: rgba(249, 249, 249, 255);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: gray;
    font-size: 1.2rem;
    text-align: center;
  }

  /* blog footer end */

  /* common sub header */
  .common-sub-header {
    color: rgba(24, 133, 255, 255);
    font-size: 1.1rem;
  }

  .common-post-header {
    font-size: 1.3rem;
    font-style: italic;
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .breakline{
    border: 1px solid rgb(229, 229, 229);
  }

  /* blog post form start */
  .form {
    margin-bottom: 30px;
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form-header h1 {
    font-size: 2.7rem;
    font-weight: bold;
  }

  .form-box {
    display: flex;
    width: 100%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 1rem;
    border-radius: 12px;
    overflow-y: scroll;
    background: linear-gradient(to top, rgb(232, 229, 229, .7), rgba(254, 254, 254, .7)), url(/assets/img_1.jpg);
    background-size: cover;
  }

  .form-box div {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .form-box input {
    width: 100%;
    height: 55px;
    padding: 0 1rem;
    outline: none;
    border: 1px solid gray;
    font-weight: bold;
    border-bottom: 3px solid #fa5d09;
  }

  .form-box input:valid,
  .form-box textarea:valid {
    border-bottom: 3px solid #55c57a;
  }

  .form-box input:invalid,
  .form-box textarea:invalid {
    border-bottom: 3px solid #fa5d09;
  }

  .form-box textarea {
    width: 100%;
    padding: 1rem;
    outline: none;
    border-bottom: 3px solid #fa5d09;
  }

  .form-box-action {
    display: flex;
    align-items: center;
  }

  .form-box .form-box-action button {
    width: 150px;
    border: none;
    outline: none;
    border-radius: 32px;
    background-color: #1C212E;
    height: 50px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .form-thumbnail {
    background-color: rgba(85, 89, 92, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* blog post form end */

  /* media query */
  @media only screen and (max-width: 610px) {
    .hero-section h1 {
      font-size: 2.5rem;
    }

    .blog-feature-box {
      flex-direction: column;
    }

    .blog-feature-content,
    .blog-feature .blog-feature-thumbnail {
      width: 100%;
    }

    .blog-feature .blog-feature-thumbnail {
      height: 200px;
    }
  }

  @media only screen and (max-width: 450px) {
    .hero-section h1 {
      font-size: 2.0rem;
    }

    .blog-header h1 {
      font-size: 1.5rem;
    }
    .blog-header p {
      font-size: 1rem;
    }
  }